@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
  }

  * {
    @apply border-slate-200 dark:border-slate-800;
  }

  body {
    @apply bg-white dark:bg-slate-900 text-slate-900 dark:text-slate-100;
    font-feature-settings: "rlig" 1, "calt" 1;
  }

  /* Hide scrollbar while keeping scroll functionality */
  html {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    scroll-behavior: smooth;  /* Smooth scrolling */
  }

  html::-webkit-scrollbar {
    display: none;  /* Chrome, Safari and Opera */
  }
}
